.col1{
    color: aliceblue;
    background-image: url(image/milky-way-2695569_1280\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 120vh;
}
.col2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container{
    height:40vh;
    width: 30vh;   
    background-color: aquamarine;
    border: 3px solid black;
    text-align: center;
   }
   .inputdata{
       margin: 10px;
   }
   .inputdata label{
        display: block;
        margin: 10px;
        font-size: 25px;
        font-family: cursive;
   }
   .inputdata input{
       padding: 7px;
   }
   .btn button{
       background-color: aqua;
       padding: 10px;
       width: 90px;
   }
   .btn button:hover{
       background-color: antiquewhite;
   }
