table{
    height:50vh ;
    width: 70vh;
    margin-left: 500px;
}

table,th,td{
    border: solid black 2px;
    border-collapse: collapse;
}

th{
background-color: violet;
}

td{
    background-color: blueviolet;
}